<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="text-center">
  <div class="panel-default">
   <h1> <div class="panel-body" style="color: brown;" >OpenAI Demo App Using ASP.NET Core Web API</div></h1>
    <br>
    <br>
    <div class="panel-body" style="align-content: center;">
      <div class="col-sm-8">
        <input type="text"  class="form-control" autocomplete="off" placeholder="Enter your question" #searchTxtVal/>
      </div>
      <div class="col-sm-2" style="margin-left: -80px;">
        <button (click)="getResult(searchTxtVal.value)">Get Result</button>
      </div>
      <div class="col-sm-12 mt-5" *ngIf="showOutput">
        {{output}}
      </div>
      <div class="col-sm-12 mt-5" *ngIf="isLoading">
        <p style="color: red;">Loading...</p>
      </div>
    </div>
  </div>
</div>